dataset/
runs/
venv/
videos/
temp/
node_modules/
deps/
build/
dist/
logs/
models/
train/out/
battle_analyzer/tests/testdata
.aws-sam/
.DS_Store
yolov8*
*.env*
*.pyc
*.error
*.debug
*.cache
*template.*
*.bkp
*.dtmp